@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

:root {
    /* Fonts */
    --poppins: "Poppins", sans-serif;
    --lora: "Lora", serif;
    --oswald: "Oswald", sans-serif;

    /* CSS HEX */
    --pumpkin: #fd6e09ff;
    --medium-blue: #170bc1ff;
    --caribbean-current: #00798cff;

    /* CSS HSL */
    --pumpkin-hsl: hsla(25, 98%, 51%, 1);
    --medium-blue-hsl: hsla(244, 89%, 40%, 1);
    --caribbean-current-hsl: hsla(188, 100%, 27%, 1);
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
    --font-poppins: var(--poppins);
    --font-lora: var(--lora);
    --font-oswald: var(--oswald);
    --font-playfair: "Playfair Display", serif;
    --font-roboto: "Roboto", sans-serif;

    --color-pumpkin: var(--pumpkin);
    --color-medium-blue: var(--medium-blue);
    --color-caribbean-current: var(--caribbean-current);
    --color-linear-pumpkin: linear-gradient(to bottom right, var(--pumpkin) 0%, #E81814 100%);
    --color-linear-medium-blue: linear-gradient(to right, var(--medium-blue) 0%, #00515E 100%);
}

@layer components {
    .radient-medium-blue-bg {
        background: var(--medium-blue);
        background: linear-gradient(to right, var(--medium-blue) 0%, #00515E 100%);
    }

    .radient-pumpkin-bg {
        background: var(--pumpkin);
        background: linear-gradient(to bottom right, var(--pumpkin) 0%, #E81814 100%);
    }

    .main-hero-title {
        @apply font-oswald font-bold relative text-[3.9975843648em] xl:text-[4.9975843648em];
        margin-bottom: .0938066507em;
        line-height: .9380665066;
    }

    .contact-about {
        @apply mb-[.2652050919em] text-[1.414em] xl:text-[3.414em] font-mono font-bold;
        line-height: 1.3260254597;
    }

    .case-project-title {
        @apply relative text-xl font-extrabold tracking-widest uppercase md:text-2xl lg:text-3xl pb-10;
    }

    .case-project-title::before {
        content: "";
        @apply absolute bottom-0 left-0 h-1 w-24 bg-blue-600;
    }
}
