@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

:root {
    /* Fonts */
    --poppins: font-family: "Poppins", sans-serif;
    --lora: font-family: "Lora", serif;
    --oswald: font-family: "Oswald", sans-serif;

    /* CSS HEX */
    --pumpkin: #fd6e09ff;
    --medium-blue: #170bc1ff;
    --caribbean-current: #00798cff;

    /* CSS HSL */
    --pumpkin-hsl: hsla(25, 98%, 51%, 1);
    --medium-blue-hsl: hsla(244, 89%, 40%, 1);
    --caribbean-current-hsl: hsla(188, 100%, 27%, 1);
}

@theme {
    --font-poppins: var(--poppins);
    --font-lora: var(--lora);
    --font-oswald: var(--oswald);

    --color-pumpkin: var(--pumpkin);
    --color-medium-blue: var(--medium-blue);
    --color-caribbean-current: var(--caribbean-current);
}

@layer components {
    .radient-medium-blue-bg {
        background: #170BC1;
        background: linear-gradient(to right, #170BC1 0%, #00515E 100%);
    }

    .radient-pumpkin-bg {
        background: #FD6E09;
        background: linear-gradient(to bottom right, #FD6E09 0%, #E81814 100%);
    }
}
